@import "/src/global.scss";

header {
  background-color: rgba(40, 39, 42, 0.5);
  background-blend-mode: multiply;
  background-size:cover;
  height: 880px;
  transition: all 0.4s ease-in;
  z-index: -1;
  #header__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 90px;
    #header__logo {
      background-color: #FEE251;
      width: 360px;
      height: 90px;
      color: black;
      display: flex;
      align-items: center;
      padding-left: 55px;
      font-size:24px;
      font-weight: 700;
      font-family: 'Inter', sans-serif;
    }
    #header__userInfo {
      font-size: 14px;
      font-weight: 600;
      display: flex;
      height: 100%;
      align-items: center;
      a {
        margin: 0 55px;
        display: flex;
        justify-content: center;
        height: 19px;
      }
      #header__avatar {
        width: 32px;
        height: 32px;
        border-radius: 16px;
        background-color: black;
        position: relative;
        left: -30px;
        cursor: pointer;
      }
    }
  }
  #header__main {
    display: flex;
    justify-content: space-between;
    #header__navigation {
      height: 830px;
      min-width: 270px;
      background-color: rgba(40, 39, 42,0.8);
      padding-top: 85px;
      nav {
        height: 266px;
        width: 100%;
        padding-left: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        a {
          font-size: 16px;
          font-weight: 600;
          opacity: 0.3;
        }
        .header__activeLink {
          opacity: 1;
        }
        .header__activeLink::after {
          width: 90px;
          height: 2px;
          content: " ";
          position: relative;
          background-color: white;
          display: inline-block;
          bottom: 5px;
          left: 74px;
        }
      }
    }
    #header__mainText {
      width: calc(100vw - 115px - 270px);
      margin-top: 200px;
      h1 {
        font-size: 52px;
        width: 334px;
        margin-bottom: 50px;
      }
      p {
        width: 334px;
        font-size: 12px;
        margin:8px 0 ;
      }
      p:nth-child(4) {
        margin-bottom: 50px;
      }
    }
  }
  .header__swiper {
    margin-left: 100px;
  }
  #header__sliderNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 120px;
    position: relative;
    bottom: 103px;
    width: 100%;
    z-index: 1;
    .header__line {
      height: 2px;
      background-color: white;
      opacity: 0.4;
      width: calc(100% - 370px);
    }
    .secondLine {
      width: 21px;
    }
    .header__downText {
      font-size: 12px;
    }
  }
}
header::after {
  display: inline-block;
  width: 100%;
  height: 881px;
  content: " ";
  background: linear-gradient(180deg, rgba(255,255,255,0) 80%, rgba(40,39,42,1) 96%);
  position: absolute;
  top: 0;
  z-index: 0;
}

@media screen and (max-width: 900px) {
  header {
    .header__swiper {
      margin-left: 10px;
      width: calc(96vw - 35px);
      .swiper-slide {
        width: calc(100vw - 35px) !important;
      }
    }
    #header__top {
      padding: 0;
      #header__logo {
        height: 50px;
        font-size: 20px;
        width: 100px;
        padding-left: 20px;
      }
      a {
        font-size: 10px;
      }
      #header__userInfo {
        a {
          margin: 0 20px;
          display: flex;
          align-items: center;
        }
        #header__avatar {
          display: none;
        }
      }
    }
    #header__sliderNav {
      display: none;
    }
    #header__main {
      flex-direction: column;
      #header__navigation {
        height: 50px;
        padding: 0;
        display: flex;
        nav {
          display: flex;
          height: inherit;
          flex-direction: row;
          align-items: center;
          padding: 0;
          justify-content: space-around;
          a {
            height: 20px;
            font-size: 12px;
          }
          .header__activeLink::after {
            display: none;
          }
        }
      }
    }
  }
}