.spots__spotItem {
  width: 272px;
  img {
    height: 272px;
    width: 272px;
  }
  h3 {
    margin-top: 45px;
    font-size: 22px;
    margin-bottom: 0;
  }
  h4 {
    opacity: 0.5;
    margin-top: 5px;
  }
  p {
    font-size: 12px;
    line-height: 20px;
  }
  a {
    font-size: 12px;
    color: #FEE251;
  }
}