@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
* {
  font-family: 'Libre Franklin', sans-serif;
  color: white;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #28272A;
}
.readMoreButton {
  width: 140px;
  height: 40px;
  color: black;
  background-color: #FEE251;
  border: none;
  border-radius: 20px;
  font-weight: 700;
}